@import "tailwindcss";

@theme {
  --font-sans: "Source Code Pro", monospace;
  --font-display: "Unbounded", sans-serif;
  --color-bg: #e8e6e1;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}
