---
import { EventPhoto } from '../atoms';

interface PhotoItem {
  src: string;
  id: string;
}

interface Props {
  photos: PhotoItem[];
  date: string;
  class?: string;
}

const { photos, date, class: className } = Astro.props;
---

<div class={className}>
  {photos.map((photo) => (
    <EventPhoto src={photo.src} date={date} id={photo.id} />
  ))}
</div>
